<a href="https://colab.research.google.com/github/WhiteWolf088/Python_Tutorials/blob/main/Session_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
weight = float(input("Enter your weight :"))
unit = input("(k) kgs or (l) LBS ")

if unit == "k":
  convert = weight*2
  print(f"You are {convert} pounds")
elif unit == "l":
  convert = weight/2
  print(f"You are {convert} kilos")
else:
  print("Invalid!")

Enter your weight :75
(k) kgs or (l) LBS k
You are 150.0 pounds

In [104]:
fruits = ['mango', 'apple','orange']  #LIST 1
fruits

['mango', 'apple', 'orange']

In [105]:
#list.append(element)
fruits.append('grapes')
fruits

['mango', 'apple', 'orange', 'grapes']

In [106]:
fruits.insert(2,'watermelon')

In [107]:
fruits

['mango', 'apple', 'watermelon', 'orange', 'grapes']

In [108]:
veggies = ['potato' , 'onions', 'tomato']  #list 2
veggies

['potato', 'onions', 'tomato']

In [109]:
fruits.extend(veggies)
fruits

['mango',
 'apple',
 'watermelon',
 'orange',
 'grapes',
 'potato',
 'onions',
 'tomato']

In [110]:
fruits + veggies

['mango',
 'apple',
 'watermelon',
 'orange',
 'grapes',
 'potato',
 'onions',
 'tomato',
 'potato',
 'onions',
 'tomato']

In [111]:
fruits * 3

['mango',
 'apple',
 'watermelon',
 'orange',
 'grapes',
 'potato',
 'onions',
 'tomato',
 'mango',
 'apple',
 'watermelon',
 'orange',
 'grapes',
 'potato',
 'onions',
 'tomato',
 'mango',
 'apple',
 'watermelon',
 'orange',
 'grapes',
 'potato',
 'onions',
 'tomato']

In [112]:
fruits.reverse()

In [113]:
fruits

['tomato',
 'onions',
 'potato',
 'grapes',
 'orange',
 'watermelon',
 'apple',
 'mango']

In [114]:
fruits.remove('mango')

In [115]:
fruits

['tomato', 'onions', 'potato', 'grapes', 'orange', 'watermelon', 'apple']

In [116]:
fruits.index('orange')

4

In [117]:
fruits.index('watermelon')

5

In [118]:
fruits.sort()

In [119]:
fruits

['apple', 'grapes', 'onions', 'orange', 'potato', 'tomato', 'watermelon']

In [120]:
fruits

['apple', 'grapes', 'onions', 'orange', 'potato', 'tomato', 'watermelon']

In [121]:
fruits.pop(0)

'apple'

In [122]:
fruits

['grapes', 'onions', 'orange', 'potato', 'tomato', 'watermelon']

In [123]:
fruits1 = ["Apple", "banana","apple","grapes"]
fruits1

['Apple', 'banana', 'apple', 'grapes']

In [124]:
fruits1.sort()

In [125]:
fruits1  #AaBbCcDd (for the sorting)

['Apple', 'apple', 'banana', 'grapes']

In [126]:
type(fruits)

list

In [127]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [128]:
type(a)

list

In [129]:
a.append(6)

In [130]:
a

[1, 2, 3, 4, 5, 6]

In [131]:
b = [5,6,4,7,8,9]
b

[5, 6, 4, 7, 8, 9]

In [132]:
c = a + b
c

[1, 2, 3, 4, 5, 6, 5, 6, 4, 7, 8, 9]

In [133]:
c.sort()

In [134]:
c

[1, 2, 3, 4, 4, 5, 5, 6, 6, 7, 8, 9]

In [135]:
d = ['grapes',1]

In [136]:
d

['grapes', 1]

In [137]:
# d.sort() --> It Gives you Error
# Sorting Doesn't Work in lists or Tuples

In [138]:
a = [1,2,3]
b = [1,2,3]

In [139]:
a[0]+b[2]

4

In [140]:
a = [1,2,3,4,5]

In [141]:
a

[1, 2, 3, 4, 5]

In [142]:
type(a)

list

In [143]:
a.append(8)  # TUPLES ARE IMMUTABLE

In [144]:
a.insert(0,8)

In [145]:
a

[8, 1, 2, 3, 4, 5, 8]

# Loops

* a loop is a sequence of instruction s that is continually repeated until a certain condition is reached. Typically, a certain process is done, such as getting an item of data and changing it, and then some condition is checked such as whether a counter has reached a prescribed number.

## Types of Loops in Python
* There are Two Types of Loops in Python: 
1. while loop
2. for loop

### While loop

In [146]:
a = 0
while(a <= 10):
  print(a)
  #a =  a + 1 
  a += 1
  #a++  #will give an error

0
1
2
3
4
5
6
7
8
9
10

In [147]:
a = 0
while(a <= 10):
  print(a)
  a = a + 2

0
2
4
6
8
10

In [148]:
#two tables
i = 1
n = 2
while(i<=10):
  print(n,"*",i," = ",n*i)
  i = i + 1

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20

In [149]:
#three tables
i = 1
n = 3
while(i<=10):
  print(n,"*",i," = ",n*i)
  i = i + 1

3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
3 * 10  =  30

In [150]:
i = 1
while i<=5:
  print('Python training',i)
  i = i + 1  #increment

Python training 1
Python training 2
Python training 3
Python training 4
Python training 5

In [151]:
i = 5
while i>=1:
  print('Python training',i)
  i = i - 1 #decrement

Python training 5
Python training 4
Python training 3
Python training 2
Python training 1

In [152]:
#using a nested while loop
i = 1
while i <= 5:
  print("python ",end = "")
  #nested while loop starts
  j = 1
  while j <= 1:
    print("trainings")
    j = j + 1
  i = i + 1

python trainings
python trainings
python trainings
python trainings
python trainings

In [153]:
#CODE FOR ACCESS 
code = 1234
i = 3

while (i>0):
    guess = int(input('Enter the code/password:'))
    if (guess == code):
        print(" Access granted!")
        break
    else:
        print(" Wrong Password. You have " +str(i-1)+" chances reamining")
        i=i-1
        if i==0:
          print(" You Missed all Your Chances Now GetOut (; ")
        else:
          pass

Enter the code/password:1231
 Wrong Password. You have 2 chances reamining
Enter the code/password:1212
 Wrong Password. You have 1 chances reamining
Enter the code/password:2121
 Wrong Password. You have 0 chances reamining
 You Missed all Your Chances Now GetOut (;

In [154]:
n = int(input('Enter the number of rows:'))  # 4 rows
i = 1
while i <= n:
  j = 1
  while j <= i:
    print("*",end = " ")
    j = j + 1
  print()
  i = i + 1

Enter the number of rows:5
*
* *
* * *
* * * *
* * * * *

### For Loop

In [155]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [156]:
for i in range(2,11):
  print(i)
# In For Loop there is no need to Increment or Decrement

2
3
4
5
6
7
8
9
10

In [157]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [158]:
for i in range(10,0,-3):
  print(i)

10
7
4
1